body {
  margin: 0;
  background-image: url("background.jpg");
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

button {
  all: unset;
  border: blue solid;
  color: white;
  font-size: 30px;
}

ul {
  padding-left: 5px;
}

li {
  list-style: none;
  border: solid blue 1px;
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  margin-top: -25px;
  text-align: center;
  border: solid;
}

h3 {
  margin: 0;
}

#content {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 15px;
  gap: 20px;
  height: 100vh;
  overflow: auto;
}

#header {
  border: red solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  background: rgb(221, 203, 203, 50%);
}

#header-items {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}

#main-content {
  border: orange solid 1px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto;
  background: rgb(221, 203, 203, 50%);
}

#home-heading,
#contact-heading {
  color: aliceblue;
  font-size: 85px;
  margin: 0;
}

#home-text,
#contact-text {
  color: aliceblue;
  font-size: 20px;
}

#home-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 50%;
  border: dotted red;
}

#menu-wrapper {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 5fr;
  grid-template-areas: "heading heading" "food drink";
}

#menu-heading {
  grid-area: heading;
  text-align: center;
  font-size: 65px;
  margin-top: 10px;
}

#food-list {
  grid-area: food;
  padding: 10px;
}

#drink-list {
  grid-area: drink;
  padding: 10px;
}

.item-divide {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  padding: 10px;
}

.item-divide > img {
  max-height: 150px;
  max-width: auto;
  justify-self: center;
}

#contact-wrapper {
  white-space: pre-line;
  border: dotted red;
  margin-top: 50%;
}
