body {
  margin: 0;
}

button {
  all: unset;
  border: blue solid;
  color: white;
  font-size: 30px;
}

#content {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 15px;
  gap: 20px;
  height: 100vh;
  background-image: url("background.jpg");
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#header {
  border: red solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  background: rgb(221, 203, 203, 50%);
}

#header-items {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}

#main-content {
  border: orange solid 1px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto;
  background: rgb(221, 203, 203, 50%);
}

#home-heading,
#contact-heading {
  color: aliceblue;
  font-size: 85px;
  margin: 0;
}

#home-text,
#contact-text {
  color: aliceblue;
  font-size: 20px;
}

#home-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 50%;
  border: dotted red;
}

#contact-wrapper {
  white-space: pre-line;
  border: dotted red;
  margin-top: 50%;
}
